@import './node_modules/reset-css/sass/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './src/styles/header.scss';
@import './src/styles/intro.scss';
@import './src/styles/portfolio.scss';
@import './src/styles/skills.scss';
@import './src/styles/footer.scss';

html,
body {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	position: relative;
}
section {
	margin: 100px 0;
}
h2 {
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 40px;
}
h3 {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 20px;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 40px;
}
.bold-text {
	font-weight: 600;
}

.circle_blue {
	position: absolute;
	top: 10%;
	right: -4%;
	width: 370px;
	height: 370px;
	filter: blur(70px);
	z-index: -100;
	background: #ff0000b8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 200px;
	animation: circle-animation-1 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.circle_purple {
	position: absolute;
	top: 15%;
	left: -4%;
	width: 370px;
	height: 370px;
	filter: blur(70px);
	z-index: -100;
	background: #b700ff9f;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 200px;
	animation: circle-animation-2 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes circle-animation-1 {
	from {
		transform: translateY(-100px);
	}

	to {
		transform: translateY(100px);
	}
}

@keyframes circle-animation-2 {
	from {
		transform: translateY(100px);
	}

	to {
		transform: translateY(-100px);
	}
}
